@model College.Models.Seminar
@{
    ViewBag.Title = "SeminarDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h1>@Model.Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>@Html.Raw(Model.Description)</p>
        <p>@Model.Date.ToShortDateString()</p>
        <p>@Model.Department.Name</p>
    </div>
</div>


